*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p, h2 ,h1{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h1{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 3em;
}

h2{
    font-weight: bold;
    text-align: center;
    border: black solid 2px;
    width: 50%;
    float: right;
    font-size: 1.5em;
    color:white
}

.section{
    padding: 0px;
    background-color: #ccccff;
    border: black solid 2px;
    overflow: auto;
    margin: 20px 10px;
    height: 265px;
}

p{
    clear: both;
    padding: 10px;
    text-align: justify;
    font-size: 1rem;
}

#t1{
    background-color:#ff99cc;
}
#t2{
    background-color: #00ff99;

}

#t3{
    background-color: #ffcc99;
}


/*Responsive Design*/
.row{
    width: 100%;
}

/* Large devices*/
@media(min-width: 992px) {
    .col-lg-4{
        float: left;
    }
    .col-lg-4{
        width: 33.3%;
    }
}

/* Medium devices*/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12{
        float: left;
    }
    .col-md-6{
        width:50%;
    }
    .col-md-12{
        width:100%;
    }
}

/*Small devices*/
@media(max-width: 767px){
    .col-md-12{
        float: left;
    }
    .col-sm-12{
        width: 100%;
    }
}